# DATABASE CONFIGURATION

spring:
  datasource:
    username:
    password:
    url: jdbc:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLInnoDBDialect
